django==3.2.15
psycopg2==2.8.3
uWSGI==2.0.19.1
redis==3.3.4
django-redis==5.2.*
amqp==2.6.0
celery==4.3.0
djangorestframework==3.12.4
djangorestframework-simplejwt==4.8.0
django-filter==22.1
Pillow
django-cors-headers
openpyxl
weasyprint==52.2
twilio==7.14.0
channels==3.0.4
channels-redis==3.3.1
python-dateutil
nepali-datetime==1.0.7